<h1>Acerca de</h1>
<center><%= image_tag "empleate.png", :alt => "logo empleate", :title => "empleate"%></center>

<h2>Sobre nosotros</h2>

<p> 

Te damos la bienvenida a Empleate, la mayor red profesional del mundo con 250 millones de usuarios en más de 200 países y territorios de todo el mundo. 

</p>

<h2>Misión</h2>

Nuestra misión es sencilla: conectar a los profesionales del mundo para ayudarles a aumentar su productividad y rendimiento. Al unirte a Empleate obtienes acceso a personas, empleos, noticias, actualizaciones e información que te ayudará a destacar en tu campo profesional.

<h2>Información de la empresa</h2>

<br>Empleate nació en el año 2014, en la Escuela Técnica Superior de Ingeniería Informática.</br>

<br>El fundador principal y director del proyecto es Jose Antonio Rodríguez Leandro y sus ayudantes son Sandro Joa Garrildo, María Belén Armas Torres y Noelia Rodríguez Martín.</br>

<br>Empleate es una empresa pública y cuenta con un modelo de negocio diversificado e ingresos provenientes de suscripciones de usuarios, publicidad y soluciones para contrataciones.</br>
