<% provide(:title, 'ACERCA DE') %>
<div class="container">
                <div class="row">
                        <div class="header col-xs-12 col-sm-12 col-md-12 ">
				<strong><h1>Acerca de</h1></strong>
			<div class="center hero-unit">	
			<%= image_tag "empleate.png", :alt => "logo empleate", :title => "empleate", :class => "img-circle" %>
			</div>
			<br/><br/></div>
		</div>          
		
		<div class="row">
                	<div class="header col-xs-12 col-sm-12 col-md-12 ">
				<strong class="lead"><p class="text-info"> Sobre nosotros</p></strong>
				<blockquote><p>Te damos la bienvenida a Empleate, la mayor red profesional del mundo con 250 millones de usuarios en más de 200 países y territorios de todo el mundo.</p></blockquote>
			</div>
		</div>

		<div class="row">
                	<div class="header col-xs-12 col-sm-12 col-md-12 ">
				<strong class="lead"><p class="text-info">Misión</p></strong>
				<blockquote><p>Nuestra misión es sencilla: conectar a los profesionales del mundo para ayudarles a aumentar su productividad y rendimiento. Al unirte a Empleate obtienes acceso a personas, empleos, noticias, actualizaciones e información que te ayudará a destacar en tu campo profesional.</p></blockquote>
			</div>
		</div>

		<div class="row">
                	<div class="header col-xs-12 col-sm-12 col-md-12 ">
				<strong class="lead"><p class="text-info">Información de la empresa</p></strong>
				<blockquote><p>Empleate nació en el año 2014, en la Escuela Técnica Superior de Ingeniería Informática.
				El fundador principal y director del proyecto es Jose Antonio Rodríguez Leandro y sus ayudantes son Sandro Joa Garrildo, María Belén Armas Torres y Noelia Rodríguez Martín.
				Empleate es una empresa pública y cuenta con un modelo de negocio diversificado e ingresos provenientes de suscripciones de usuarios, publicidad y soluciones para contrataciones.</p></blockquote>
			</div>
		</div>
</div>
