<% provide(:title, 'AYUDA') %>
<div class="container">
                <div class="row">
                        <div class="header col-xs-12 col-sm-12 col-md-12 ">
                                <strong><h1>Ayuda</h1></strong>
                                <center><%= image_tag "empleate.png", :alt => "logo empleate", :title => "empleate", :class => "img-circle" %></center>
                        <br/><br/></div>
                </div>

                <div class="row">
                        <div class="header col-xs-12 col-sm-12 col-md-12 ">
                                <strong class="lead"><p class="text-info"> Contenido</p></strong>
                                <blockquote><p><a href="#Registro">Como registrar usuarios</a></p></blockquote>
				<blockquote><p><a href="#Login">Como logearte</a></p></blockquote>
				<blockquote><p><a href="#User">Como buscar usuarios</a></p></blockquote>
			 	<blockquote><p><a href="#Cuenta">Como modificar la cuenta</a></p></blockquote>
				<blockquote><p><a href="#Seguidores">Como ver los seguidores que tenemos</a></p></blockquote>
				<blockquote><p><a href="#Borrar">Como borrar un post</a></p></blockquote>
				<blockquote><p><a href="#Añadir">Como añadir un post</a></p></blockquote

				

                        
			
				<a name=“Registro”></a>
				<div class="center">
				<strong class="lead"><p class="text-info">Registro</strong></div>
				<blockquote><p>Para registranos debemos entrar en la opción "Registrar" y una vez dentro de la página tenemos que rellenar todos los campos que se muestran, en primer lugar el nombre, este campo no requiere de ninguna restricción, en segundo lugar introduiremos el email, para ello si tenemos un formato que seguir (example@example.com), en tercer lugar la contraseña, aquí hemos puesto una serie de restricciones para que sea mas seguro, como por ejemplo que deben tener 6 caracteres y si queremos podemos jugar con mayúsculas y minúsculas para que sean aún más seguro y nadie pueda descubrirnos nuestra contraseña, y en cuarto lugar y por último pondremos de nuevo la contraseña para confirmar que la hemos puesto bien anteriormente. Y ya con esto, tenemos nuestro registro creado :)</p></blockquote>
			
				<a name="Login"></a>
				<div class="center">
                                <strong class="lead"><p class="text-info">Login</strong></div>
				<blockquote><p>Para loguearnos entramos a la opción "Sign in" y rellenamos los campos que se muestran, en primer lugar el email que pusimos cuando nos registramos, con el mismo formato (example@example.com) y la contraseña que también debe ser la misma que introdujimos en el Registro, recordemos que debe tener 6 carácteres y si queremos le podemos añadir mayúsculas y minúsculas para que sea aún mas seguro y que nadie pueda descubrirla. Si por casualidad se te olvida introducir algo como lo explicamos en este documento siempre te aparecerá un mensaje de error y así puedes modificarlo y ponerlo correctamente. Una vez dentro podemos acceder a nuestro muro dándole a inicio.</p></blockquote>

				
				<a name="User"></a>
                                <div class="center">
                                <strong class="lead"><p class="text-info">User</strong></div>
                                <blockquote><p>Para buscar los usuarios tenemos que logernos primero, sino no podremos verlos. Pero una vez que estamos logeados ya podremos ver todos los usuarios apretando a la opción de "Users", y cuando estamos aquí ya nos muestran todos los usuarios, y si tenemos muchos usuarios nos muestran varias páginas que podremos visualizar pinchando "Next" para ver la siguiente y si queremos volver hacia atrás con la opción "Previous".</p></blockquote>				
			

				<a name="Cuenta"></a>
                                <div class="center">
                                <strong class="lead"><p class="text-info">Modifiar cuenta</strong></div>
                                <blockquote><p>Para modificar la cuenta, vamos a la opción "Account", luego a "Settings" y una vez que estemos aquí rellenamos los campos que se nos muestran, son los mismos campos que teniamos en el Registro, o sea que ya nos suena. En primer lugar el nombre, este campo no requiere de ninguna restricción, en segundo lugar introduiremos el email, para ello si tenemos un formato que seguir (example@example.com), en tercer lugar la contraseña, aquí hemos puesto una serie de restricciones para que sea mas seguro, como por ejemplo que deben tener 6 caracteres y si queremos podemos jugar con mayúsculas y minúsculas para que sean aún más seguro y nadie pueda descubrirnos nuestra contraseña, al poner esta contraseña ya pondremos la nueva, por la que queremos cambiarla y en cuarto lugar y por último pondremos de nuevo la contraseña para confirmar que la hemos puesto bien anteriormente y así ya tendremos contraseña nueva. </p></blockquote>


				<a name="Seguidores"></a>
                                <div class="center">
                                <strong class="lead"><p class="text-info">Seguidores</strong></div>
                                <blockquote><p> Para ver los seguidores tenemos que estar logeados, y una vez logueados vamos a la opción "Users" y ya podemos visualizar todos los usuarios, cuando los vemos todos apretamos en cualquier usuario y aquí ya podremos ver los seguidores en la opción "followers", si marcamos esta opción nos muestra todos los seguidores. Y lo mismo con los que nos siguen a nosotros pero tendríamos que poner la opción "following", si marcamos esta opción nos muestra todos los usuarios que no siguen. </p></blockquote>
				
				<a name="Borrar"></a>
                                <div class="center">
                                <strong class="lead"><p class="text-info">Borrar un post</strong></div>
                                <blockquote><p> Para borrar un post debemos logeranos en "Sign in" y una aquí vamos a la opción de inicio y podemos ver todos los post que hemos añadido. A la derecha tenemos una opción que dice "Borrar" pinchamos ahí y ya no tenemos ese post en la lista.</p></blockquote>
 


				<a name="Añadir"></a>
                                <div class="center">
                                <strong class="lead"><p class="text-info">Añadir un post</strong></div>
                                <blockquote><p> Para añadir un post debemos logeranos en "Sign in" y una aquí vamos a la opción de inicio y podemos ver todos los post que hemos añadido, si tenemos alguno, sino hemos hecho ninguno no tendremo ningún post creado. A la izquierda nos muestra un cuadro en el que nos dice en gris suave "Escriba un nuevo micropost...", aquí escribiremos nustro Post y una vez escrito le damos a la opción "Post" y ya tenemos el Post en nuestra lista.</p></blockquote>



                               
				</div>

			</div>             

                <div class="row">
                        <div class="header col-xs-12 col-sm-12 col-md-12 ">
                                <strong class="lead"><p class="text-info">Video</p></strong>
                                <blockquote><p>Aquí les mostramos un video donde aclararemos algunos aspectos.</p></blockquote>
                        </div>
                </div>
</div>
