<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "ACERCA DE",   'about' %></li>
      <li><%= link_to "CONTACTO", 'contact' %></li>
      <li><a href="http://news.railstutorial.org/">NOTICIAS</a></li>
    </ul>
  </nav>
</footer>
