<footer class="footer">
  <small>
	<div class="container">
    
	<div id="main" class="container-fluid">
      	  <div id="page_show" class="box">
		<div style="text-align:left;">
			<div class='social-share-button' data-title='social via: @empleate ' data-img='' data-url=''>
				<a href="http://railstutorial.org/"> Rails Tutorial </a>
				by Empleate
				<a class="social-share-button-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Twitter"></a>
				<a class="social-share-button-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Facebook"></a>
				<a class="social-share-button-google_plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Google+"></a>
			</div>
		</div>
	   </div>
	</div>
</div>
  </small>
  <nav>
    <ul>
      <li><%= link_to "ACERCA DE",   'about' %></li>
      <li><%= link_to "CONTACTO", 'contact' %></li>
      <li><a href="http://news.railstutorial.org/">NOTICIAS</a></li>
    </ul>
  </nav>
</footer>
