<footer class="footer">
  <small>
	<div class="container">
    
	<div id="main" class="container-fluid">
      	  <div id="page_show" class="box">
		<div style="text-align:left;">
			<div class='social-share-button' data-title='social via: @empleate ' data-img='' data-url=''>
				<a href="https://github.com/DSI-ETSII-ULL/2014-Empleate"> Project </a>
				by Empleate
				<a class="social-share-button-twitter" data-site="twitter" href="https://twitter.com/DSI_Empleate" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Twitter"></a>
				<a class="social-share-button-facebook" data-site="facebook" href="https://www.facebook.com/pages/DSI-Empleate-2014/252994411555075" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Facebook"></a>
				<a class="social-share-button-google_plus" data-site="google_plus" href="https://plus.google.com/u/0/101389281615191267936/posts" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Google+"></a>
			</div>
		</div>
	   </div>
	</div>
</div>
  </small>
  <nav>
    <ul>
      <li><%= link_to "ACERCA DE",   'about' %></li>
      <li><%= link_to "CONTACTO", 'contact' %></li>
      <li><a href="http://news.railstutorial.org/">NOTICIAS</a></li>
    </ul>
  </nav>
</footer>
